@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(25, 25, 26);
}

@layer components {
  .moviecards {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
  }

  .dropdownmenu {
    animation: dropdown 2s linear 0s forwards normal;
    transform-origin: top;
  }

  .redropdownmenu {
    animation: dropdown 1s linear 0s forwards reverse;
    transform-origin: top;
  }

  .cardgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px;
  }

  .tvgrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "title title"
      "image desc";
  }

  .tvtitle {
    grid-area: title;
  }
  .tvimage {
    grid-area: image;
  }
  .tvdesc {
    grid-area: desc;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .resume {
    animation-play-state: running;
  }
}

.btnFilter:hover
{
  background-color: rgba(128, 128, 128, 0.124);
}

.topnav {
  background-color:rgb(22, 31, 44) ;
  overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 9999;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {float: none;}
  .topnav.responsive {position: fixed;}
  .topnav.responsive{
    display: block;
    width: 100%;
    text-align: left;
  }
}

.search
{
  max-width: 120px;
  text-align: center;
  float: left;
  margin-top: 16px;
  margin-right: 0px;
}

.icon
{
  text-align: center;
  margin-top: 12px;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(52, 63, 78);
  border-radius: 10px;
}